body{
    background-color: rgb(251, 214, 210);
    font-family: 'Quicksand', sans-serif;
}

section{
    background-color: white;
    width: 50%;
    height: 60vh;
    margin:auto;
    margin-top: 120px;
}

button {
    background-color:rgb(241,144,183) ;
    border: none;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    color: black;
    font-size: 20px;
    display: flex;
    cursor: pointer;
}

button:hover{
    background-color: rgb(206, 73, 191);
    color: white;
    transition: 1s;
}



#retake{
    background-color:rgb(166, 62, 197) ;
    margin: 150px 0 50px 250px;
    
}
h1{
    text-align: center;
    padding-top: 90px;
    font-size: 40px;

}

#retake:hover{
    background-color: rgb(241,144,183);
    color: white;
    transition: 1s;
    
} 
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: white;
}

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .active-slide{
    opacity: 1;
    z-index: 2;
  }

   .nextbutton  {
    margin: 100px 120px 20px 220px;   
  }

  #previous {
    margin: 100px 100px 20px 60px;
  }
  .quiz-container{
      position: relative;
      height: 200px;
  }

  #next{
margin: 100px 0 20px 0;
  }

  #submit{
      margin: 0 0 0 50px;
  }
  .question{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 20px;
    text-align: center;
    margin-right: 20px;
  }
  .answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
    margin-left: 100px;
    line-height: 30px;
    margin-top: 30px;
    cursor: pointer;
  }
  .answers label{
    display: block;
    margin-bottom: 10px;
  }
  
  .flex{
    display: flex;
  }

  #results{
color: rgb(166, 62, 197);
padding: 50px 0 0 220px;
font-size: 30px;
  }

  